.container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    margin-top:100px;
    margin-left:25%;
    padding:5%;
    border-radius: 3%;
    border-style: solid;
}

.namefield{
    margin-bottom: 5%;
    margin-left:36%;
    padding:9px;
    text-align: center;
    border-radius: 9% 1px;
}
.registerbtn{
    margin-left:36%;
}
.loginbtn{
    margin-left:5%;
}